{# Using bracket notation for an accurate test, due to
   a Twig bug: http://craftcms.stackexchange.com/questions/2116/twig-is-defined-always-returning-true/2117#2117 #}

<h1>{{ craft.userManual.getName() }}</h1>
    <p>
        <strong>&larr; click a link in the left side menu to explore the help topics.</strong>
    </p>
